form{
  p{
    color: var(--text);
    font-weight: 500;
  }

  span{
    color: red;
  }

  button{
    background-color: var(--button);
  }

  .order-info{
    p{
      font-size: 26px;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}