:root{
    --background-blue:#ebf6fc;
    --header-divider:#9e9e9d;
    --text:#2b458b;
    --radio-button:#c4b695;
    --button:#24457b;
    --input-border:#aa8d55;
    --placeholder:#768ebc;
    --input-information:#a29fa5;
    --modal-background:#FFFFFF;
    --screen-bg-modal-open:rgba(0, 0, 0, 0.8);
    --p-black:0D0D0D;
    --button-close-modal:rgba(36, 69, 123, 0.10);
    --cake-card-background: #EBF6FC;
    --scroll-bar:#F1F1F1;
    --scroll-bar-background: #C4C4C4;
    --mandatory-field:red;
    --disabled:#808080;
}